body {
    background: #8a0b2b;
    font-family: "MS PGothic", sans-serif;
}


h1 {
    color: #ffc3c3;
    font-size: 36px;
    font-style: italic;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    ;
    text-align: center;
}

img {
    image-rendering: pixelated;
}

.button {
    display: inline-block;
}

.button img {
    vertical-align: top;
    position: relative;
    display: inline-block;
}

/* Hide the pressed image by default */
.button img.pressed {
    display: none;
}

/* Show the pressed image when the button is being pressed */
.button:active img.unpressed {
    display: none;
}

.button:active img.pressed {
    display: block;
}

.reverse-button:active img {
    filter: invert(100%);
}

.hover-flashing-outline:hover {
    outline: 1px solid #FFDEA5;
    animation: flashOutline 0.02s infinite;
}

@keyframes flashOutline {

    0%,
    100% {
        outline: 1px solid #FFDEA5;
    }

    50% {
        outline: none;
    }
}

.container {
    display: flex;
    justify-content: center;
}

#sidebar-left,
#sidebar-right,
#center {
    flex: 1;
    /* Allow the items to grow and fill the available space */
}

#sidebar-left,
#sidebar-right {
    background-color: #f2f2f2;
    /* Example background color for sidebars */
    padding: 10px;
    flex: 1;
    /* Example padding for sidebars */
}

#center {
    background-color: #ddd;
    /* Example background color for center content */
    /* padding: 20px; */
    /* Example padding for center content */
}

#sidebar-left a {
    justify-content: right;
}

/* * {
    border: 1px solid red;
} */