body {
    background: #8a0b2b;
    font-family: "MS PGothic", sans-serif;
}

h1 {
    color: #ffc3c3;
    font-size: 36px;
    font-style: italic;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    ;
    text-align: center;
}

img {
    image-rendering: pixelated;
}

.button {
    display: inline-block;
}

.button img {
    vertical-align: top;
    position: relative;
    display: inline-block;
}

/* Hide the pressed image by default */
.button img.pressed {
    display: none;
}

/* Show the pressed image when the button is being pressed */
.button:active img.unpressed {
    display: none;
}

.button:active img.pressed {
    display: block;
}

@keyframes flashOutline {

    0%,
    100% {
        outline: 1px solid #FFDEA5;
    }

    50% {
        outline: none;
    }
}

.container {
    display: flex;
    justify-content: center;
}

#sidebar-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#sidebar-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container img {
  margin: 5px; /* Optional: Add some spacing between images */
}
